snippet \and and
	∧
snippet \or or
	∨
snippet \imp imp
	⊃
snippet \implies implies
	⊃
snippet \top top
	⊤
snippet \context context
  Γ
snippet \neg neg
	¬
snippet \nand nand
	⊼
snippet \vdash vdash
	⊢
snippet \exists exists
	∃
snippet \forall forall
	∀
