snippet \vdash vdash
	⊢
snippet \forall forall
	∀
snippet \gamma gamma
  Γ
snippet \context gamma
  Γ
snippet \proves vdash
	⊢
snippet \cdot cdot
  ·
snippet \nat nat
  ℕ
snippet \lambda lambda
  𝝺
snippet \pi pi
  Π
snippet \delta delta
  Δ
