snippet init "init" wA
  get_int = lambda : int(input())
  get_list = lambda : map(int, input().split(' '))

  #######################################################

  def solve():
      $1

  #######################################################

  def main():
      t = get_int()

      for _ in range(t):
          solve()

  if __name__ == "__main__":
      main()

